PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
ADMIN_EMAIL=admin@prescripto.com
ADMIN_PASSWORD=admin123
JWT_SECRET=your_jwt_secret
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxx
CURRENCY=vnd
FRONTEND_URL=http://localhost:5173
