@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
